html, body, h1 {
    margin: 0;
    padding: 0;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #0066CC;
    color: white;
    padding: 5px;
}
.yellowgreen {
    background-color: yellowgreen;
}
.blue {
    background-color: deepskyblue;
}

td {
    border: 1px solid;
    padding: 5px;
}

.active {
    background-color: #999;
}

.menu {
    float: left;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.menu a {
    color: black;
    padding: 0 20px;
    float: left;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    background: #555;
}

.container {
    padding: 20px;
}